// 1.使用变量
// sass使用$符号来标识变量
// sass并不想强迫任何人一定使用中划线或下划线，所以这两种用法相互兼容。用中划线声明的变量可以使用下划线的方式引用，反之亦然
$highlight-color: #F90;
$highlight-border: 1px solid $highlight-color;
.selected {
  border: $highlight-border;
}
// 2.嵌套CSS 规则
$nav-color: #F90;
$color-theme:red;
#content {
  article {
    h1 { color: $nav-color }
    p { font-size:18px;background: $nav-color}
    // 父选择器的标识符&;
    &:hover { color: $color-theme }
  } 
  aside { background-color: gold ;color: $color-theme;text-decoration:underline }
}
 
// 4. 静默注释;
// body {
//   color: #333; // 这种注释内容不会出现在生成的css文件中
//   padding: 0; /* 这种注释内容会出现在生成的css文件中 */
// }

// 5.混合器  混合器使用@mixin标识符定义   样式表中通过@include来使用这个混合器，放在你希望的任何地方。
@mixin rounded-corners {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.notice {
  background-color: green;
  border: 2px solid #00aa00;
  @include rounded-corners;
}

@mixin no-bullets {
  list-style: none;
  li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0px;
  }
}
ul.plain {
  color: red;
  @include no-bullets;
}


//6.通过选择器继承继承样式  @extend 继承
.error {
  border: 1px solid red;
  background-color: #fdd;
}
.seriousError {
  @extend .error;
  border-width: 3px;
}